
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    div {
        color: royalblue
    }
</style>
<h2>Index</h2>

@using customhelper.Customcodehelper
@Codestatichelper.LabelCustom("<div>Irha</div>")