
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td> @Model.id </td>
            <td>@Model.name</td>
            <td>@Model.contact</td>


        </tr>
    </tbody>
</table>